
p{
    color: green;
    font-weight: 800;
    border-bottom:1px solid transparent;
    transition: border 3s ease;
}

p:hover{
    /* color:red; */
    border-bottom: 1px solid green;

}